@font-face {
  font-family : DoHyeon;
  src : url('/font/DoHyeon-Regular.ttf') format('truetype');
}
@font-face {
  font-family : NotoSans;
  src : url('/font/NotoSansKR-Regular.otf') format('truetype');
}

.layout {
  font-family: DoHyeon, sans-serif;
}
.present {
  font-family: NotoSans, sans-serif;
  text-align:center;
}

#wrapper{
  width:980px;margin:0px auto;padding:20px;border-style:dotted;border-radius:20px;border:1px solid #828282;
}
#header{
  margin-bottom:20px;padding:20px;border:1px solid #828282;
}
#nav{
  margin:0 20px 20px 0;padding:20px;width:175px;float:left;height:300px;border:1px solid #828282;
}
#section{
  margin-bottom:20px;padding:20px;width:53%;float:left;border:1px solid #828282;border-radius:10px; width:520px;height:450px;
}
#aside_right{
  margin-bottom:-20px;padding:20px;width:110px;height:300px;float:right;border:1px solid #828282;
}
#aside_bottom{
  margin-top:25px;margin-bottom:20px;padding:15px;width:120px;height:245px;float:right;margin-right:2px;border:1px solid #828282;
}
#footer{
  clear:both;border-style:groove,margin:0px 5px; background-color: #fff; color:black;text-align:center;border:1px solid #828282;
}
